<p>footer-banner works!</p>
<div class="banner position-relative">
	<div class="d-flex flex-row">
		<div class="col-3">
			<div class="flex-row banner-logo">

			</div>
			<div class="flex-row">
				<p>Copyright</p>
			</div>
			<div class="flex-row">

			</div>
		</div>
		<div class="col-3">
			<div class="flex-row">
				Connect
			</div>
			<div class="flex-row">
				<div class="flex-col">
					Instagram
				</div>
				<div class="flex-col">
					Facebook
				</div>
				<div class="flex-col">
					Twitter
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="flex-row">
				B
			</div>
			<div class="flex-row">

			</div>
			<div class="flex-row">

			</div>

		</div>
		<div class="col-3">
			<div class="flex-row">
				C
			</div>
			<div class="flex-row">

			</div>
			<div class="flex-row">

			</div>

		</div>
	</div>
</div>
  