@import '../../../styles.scss';

.banner {
	height: 48vh;
	// background-image: url("/assets/static/images/main_splash.jpg");
	// object-fit: cover;
	background-color: $ivory;
	background-position: bottom right;
  }
  
.banner {
	a, p {
		font-size: 1.3vw;
		font-family: Vollkorn;
		font-weight: 400;
	}
	h3 {
		font-weight: 600;
		font-size: 1.7vw;
	}
	h4 {
		font-weight: 500;
		font-size: 1.6vw;
	}
	h5 {
		font-weight: 500;
		font-size: 1.5vw;
	}
}

.banner-logo img {
	width: 10vw;
}

.banner-title-name {
	h1 {
		font-family: Mayland;
		margin: 1rem;
		font-size: max(5vw, 25px); // how
	}
}

.banner-list {
	p {
		margin-bottom: .5rem;
	}
}

.banner-title-repeating {
	opacity: 0.1;
}
.banner-title-repeating-container {
	position: absolute;
	display: none;
}
.email-input {
	width: 70%;
}
.email-input, .email-input-button {
	height: 3vw;
	font-size: 1.3vw;
}
.email-input-button {

}

.copyright-body {
	p {
		font-weight: 500;
		margin-bottom: .5rem;
	}
	padding-inline-start: 4em;
}