<p>product-detail works!</p>
<div class="d-flex flex-column">
	<!-- <div class="d-flex flex-row">
		<app-product-card [product]="products[8]"></app-product-card>
		<app-product-card [product]="products[9]"></app-product-card>
		<app-product-card [product]="products[10]"></app-product-card>
		<app-product-card [product]="products[11]"></app-product-card>
	</div> -->
</div>

<!--Dont need multiple flex rows, just dictate they take up 1/3 row space, same on height, then
if there are 100 items, they naturally divide into separate rows-->