.cart-window {
	position: fixed;
	width: min(500px, 50vw);
	top: 25px;
	left: calc(100vw - 45vw);
	width: 40vw;
	background-color: white;
	z-index: 3;
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
	border-radius: 10px;
	height: 200px; // test
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
	//
	transition: visibility 0.2s ease;
	visibility: hidden;
	display: none;
}

.cart-window.activated {
	visibility: visible;
	display: block;
}
// .cart-background.activated {
// 	// background-color: rgba(0, 0, 0, 0.2);
// 	// // backdrop-filter: blur(5px);
// 	// visibility: visible;
// 	// opacity: 1;
// 	// transition: opacity 0.25s ease;
// }
// .cart-background {
// 	visibility: none;
// 	height: 100vh;
// 	width: 100vw;
// 	position: fixed;
// 	top: 0px;
// 	opacity: 0;
// 	z-index: 2;
// 	pointer-events: none;;
// }