<div
  class="cart-window"
  (keydown.code.escape)="show()"
  [ngClass]="{ activated: enabled }"
>
  <div class="cart-title my-1 fs-3">
    <h2>Cart</h2>
  </div>
  <!-- <div ngIf*="count > 0" class="cart-list">

	</div> -->
  <!-- <div ngIf*="count" class="cart-empty">
		<h3>Your cart is empty</h3>
	</div> -->
  <!-- <div *ngIf="count$" class="cart-test" (click)="addToCart()">
		<h2>Count: {{count$ | async}}</h2>
	</div> -->
  <div class="cart-list mx-1">
    <ng-container *ngFor="let item of (cart$ | async)?.cartItems; index as i">
      <button
        class="cart-item-detail my-2"
        routerLink="/detail/{{ item.product.id }}"
        (click)="onResult()"
      >
        <div class="row align-items-center">
          <!-- Icon -->
          <div class="col-4 detail-img">
            <picture>
              <img class="h-100 w-100" src="{{ item.product.img }}" />
            </picture>
          </div>
          <!-- Name and Type -->
          <div class="col-8 detail-body fs-4">
            <!-- Name -->
            <div class="d-flex justify-content-between">
              <div>{{ item.product.name }}</div>
              <div class="">${{ item.product.price }}</div>
            </div>
            <!-- Type -->
            <!-- <div *ngIf="item.product.tags" class="tags flex-row">
            <ng-container
              *ngFor="let tag of item.product.tags"
              class="bg-dark text-white"
            >
              {{ tag }}
            </ng-container>
          </div> -->
            <div class="row">
              <!-- Count x Price -->
              <div class="col-8 fs-5 text-muted text-start">
                <!-- <input
                class="detail-count"
                (keyup)="validationCheck($event, item)"
                value="{{ item.count }}"
                /> -->
                Qty: {{ item.count }}
              </div>
              <div
                class="col-4 detail-delete text-end"
                (click)="removeFromCart(item)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-trash3"
                  viewBox="0 0 0 0"
                >
                  <path
                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                  />
                </svg>
              </div>
            </div>
          </div>
          <!-- <div class="col-2 text-center">${{ item.product.price }}</div> -->

          <!-- Delete -->
        </div>
      </button>
    </ng-container>
    <div
      *ngIf="(cart$ | async)?.cartItems?.length == 0"
      class="cart-empty my-4"
    >
      <h3>Cart is empty</h3>
    </div>
    <hr />
    <div
      class="mt-2"
      [ngStyle]="{
        display: (cart$ | async)!.cartItems.length == 0 ? 'none' : 'block'
      }"
    >
      <div class="d-flex justify-content-between fs-5 text-muted">
        <div>Sub-total</div>
        <div>$0</div>
      </div>
    </div>
    <div class="mt-2 row">
      <div *ngIf="(cart$ | async)!.cartItems.length > 0" class="cart-view col">
        <button
          (click)="show()"
          routerLink="/cart"
          class="btn btn-dark rounded-0"
        >
          View Cart
        </button>
      </div>
      <div class="cart-continue col">
        <button (click)="show()" class="btn btn-dark rounded-0">
          Check Out
        </button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="cart-background">

</div> -->
