<div class="main-nav-bar d-flex d-row align-items-center sticky-top px-4 py-3">
  <!-- <div class="nav-bar-background d-flex align-items-stretch flex-fill"></div> -->
  <!-- <div class="mx-3 mx-sm-4 my-3 my-sm-1 nav-logo-container"> -->
  <!-- <img src="assets/static/images/mini_logo.png" /> -->
  <!-- </div> -->
  <div class="nav-router-links-container d-flex">
    <nav>
      <a class="mx-3 nav-bar-link" routerLink="/home">jay.</a>
      <a class="mx-3 nav-bar-link" routerLink="/shop">shop</a>
    </nav>
  </div>

  <!-- Container -->
  <div class="nav-buttons-container d-flex ms-auto pe-1 pe-sm-3">
    <div
      type="button"
      class="nav-bar-link account-button"
      data-bs-toggle="modal"
      data-bs-target="#accountModal"
    >
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
        <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
      </svg>
    </div>
    <div class="cart-button mx-3 mx-sm-1" (click)="onCart()">
      <!-- routerLink="/cart" -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="currentColor"
        class="bi bi-cart3"
        viewBox="0 0 16 16"
      >
        <path
          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
          stroke="black"
          stroke-width=".33"
        />
      </svg>
    </div>
    <div
      class="search-button mx-3 mx-sm-1 align-self-center"
      (click)="onSearch()"
    >
      <!--routerLink="/shop"-->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18.5"
        height="18.4"
        fill="currentColor"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          stroke="black"
          stroke-width=".33"
        />
      </svg>
    </div>
    <div
      class="hamburger-button mx-3 mx-sm-1 align-self-center"
      routerLink="/shop"
      style="translate: 0 -2px"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="26"
        height="26"
        fill="currentColor"
        class="bi bi-list"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </svg>
    </div>
    <div class="hamburger-items"></div>
  </div>

  <app-cart-window (windowShow)="onRouteChange()" #cart></app-cart-window>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="accountModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content p-2">
      <!-- Tabs -->
      <ul
        class="nav nav-tabs justify-content-center fs-5"
        id="myTab"
        role="tablist"
      >
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="profile-tab"
            data-bs-toggle="tab"
            data-bs-target="#login-tab-pane"
            type="button"
            role="tab"
            aria-controls="profile-tab-pane"
            aria-selected="false"
          >
            Login
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="signUp-tab"
            data-bs-toggle="tab"
            data-bs-target="#signUp-tab-pane"
            type="button"
            role="tab"
            aria-controls="signUp-tab-pane"
            aria-selected="true"
          >
            Sign Up
          </button>
        </li>
      </ul>
      <div class="tab-content p-5" id="myTabContent">
        <!-- Login Modal -->
        <div
          class="tab-pane fade show active"
          id="login-tab-pane"
          role="tabpanel"
          aria-labelledby="login-tab"
          tabindex="0"
        >
          <form [formGroup]="loginForm" (submit)="onLoginSubmit()" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="loginEmail" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                id="loginEmail"
                aria-describedby="emailHelp"
                formControlName="email"
                [ngClass]="{'is-invalid': loginSubmitted && l['email'].errors}"
              />
              <div *ngIf="loginSubmitted && l['email'].errors" class="invalid-feedback">
                  <div *ngIf="l['email'].errors['required']">Email is required</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="loginPassword" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="loginPassword"
                formControlName="password"
                [ngClass]="{'is-invalid': loginSubmitted && l['password'].errors}"
              />
              <div *ngIf="loginSubmitted && l['password'].errors" class="invalid-feedback">
                  <div *ngIf="l['password'].errors['required']">Password is required</div>
              </div>
            </div>
            <div class="mb-3 form-check"></div>
            <button type="submit" class="btn btn-dark w-100">
              <span *ngIf="signUpLoading" class="spinner-border spinner-border-sm me-1"></span>
              Login
            </button>
          </form>
        </div>
        <!-- signUp Modal -->
        <div
          class="tab-pane fade"
          id="signUp-tab-pane"
          role="tabpanel"
          aria-labelledby="signUp-tab"
          tabindex="0"
        >
          <form [formGroup]="signUpForm" (submit)="onsignUpSubmit()" class="needs-validation" novalidate>
            <div class="mb-3">
              <label for="signUpEmail" class="form-label"
                >Email address</label
              >
              <input
                type="email"
                class="form-control"
                name="signUpEmail"
                id="signUpEmail"
                aria-describedby="emailHelp"
                formControlName="email"
                required
                aria-describedby="emailRequired emailGood"
                [ngClass]="{'is-invalid': signUpSubmitted && s['email'].errors}"
              />
              <div *ngIf="signUpSubmitted && s['email'].errors" class="invalid-feedback">
                  <div id="emailRequired" *ngIf="s['email'].errors['required']">Email is required</div>
                  <!-- <div *ngIf="exampleInputEmail1.errors?.['required']"></div> -->
              </div>
              <div id="emailGood" class="valid-feedback">
                Looks good!
              </div>
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="signUpPassword" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="signUpPassword"
                formControlName="password"
                required
                aria-describedby="passwordRequired passwordMinlength"
                [ngClass]="{'is-invalid': signUpSubmitted && s['password'].errors}"
              />
              <div *ngIf="signUpSubmitted && s['password'].errors" class="invalid-feedback">
                  <div id="passwordRequired" *ngIf="s['password'].errors['required']">Password is required</div>
                  <div id="passwordMinlength" *ngIf="s['password'].errors['minlength']">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="mb-3">
              <label for="signUpConfirmPassword" class="form-label"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                id="signUpConfirmPassword"
                formControlName="confirmPassword"
                required
                aria-describedby="confirmPasswordMismatch"
                [ngClass]="{'is-invalid': signUpSubmitted && s['confirmPassword'].errors}"
              />
              <div *ngIf="signUpSubmitted && s['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="s['confirmPassword'].errors['mismatch']"
                id="confirmPasswordMismatch">Passwords do not match!</div>
              </div>
            </div>
            <div class="mb-3 form-check"></div>
            <button type="submit" class="btn btn-dark w-100">
              <span *ngIf="signUpLoading" class="spinner-border spinner-border-sm me-1"></span>
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-search-window #search></app-search-window>
