.dropdown-toggle::after {
  display: none;
}
.nav-logo-container img {
	width: 4vw;
	height: 4vw;
}

.main-nav-bar {
	background-color:rgb(170, 102, 1);
}

.navbar-title {
	background-color:rgba(200, 100, 10, .5);
	width: fit-content;
	padding: 0.2vw;
	border-radius: .25vw;
}

.nav-bar-background {
	opacity: 0.1; 
	background-image: url('/../assets/static/images/banner/wood_texture.jpg'); 
	position: absolute; 
	height: 4vw; 
	// width: 100vw; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	z-index: 0
}

// Nav bar links
.main-nav-bar nav a.nav-bar-link {
	font-weight: 500;
	text-decoration: none;
	color: black;
	font-size: large;
}
.main-nav-bar .cart-button {
}
.main-nav-bar .search-button {
}

.main-nav-bar .logo img {
	width: 3vw;
	height: 2vw;
}