@import '../../../variables.scss';

.dropdown-toggle::after {
  display: none;
}

.nav-logo-container img {
	width: 4vw;
	height: 4vw;
}

.main-nav-bar {
	// background-color:rgb(170, 102, 1);
  	transition: visibility 0s, opacity 0.15s ease;
	opacity: 1;
	// visibility: visible;
}

.hide-nav {
	// display: none!important;
  	transition: visibility 0s, opacity 0.15s ease;
	opacity: 0;
	// visibility: hidden;
}

.navbar-title {
	background-color:rgba(200, 100, 10, .5);
	width: fit-content;
	padding: 0.2vw;
	border-radius: .25vw;
}

.cart-button, .search-button {
	cursor: pointer;
	pointer-events: all;
}

.nav-bar-background {
	opacity: 0.08; 
	background-image: url('/../assets/static/images/banner/wood_texture.jpg'); 
	pointer-events: none;
	position: absolute;
	// width: 100vw; 
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	z-index: 0
}

// Nav bar links
.main-nav-bar nav a.nav-bar-link {
	font-weight: 500;
	text-decoration: none;
	color: black;
	font-size: large;
}

.main-nav-bar .logo img {
	width: 3vw;
	height: 2vw;
}

.nav-logo-container-detached {
	margin-block: 0px;
	width: 2px;
	height: 2px;
	transition: width 1s;
	transition: height 1s;
}

@media (max-width: $s) {
	.nav-router-links-container {
		display: none!important;
	}
	.nav-logo-container img {
		width: 10vw;
		height: 10vw;
	}
	.cart-button svg, .search-button svg {
		width: 7vw;
		height: 7vw;
	}
	.main-nav-bar {
		position: relative
	}
}