<div class="search-window" [ngClass]="{activated: enabled}">
	<!-- Search -->
	<div class="mx-1">
		<input class="search-bar" type="text" placeholder="Search here..."
		required minlength="4">
	</div>
	
	<!-- Results -->
	<div class="search-results" 
	[ngClass]="{'mt-3 mb-2': results.length > 0}">
		<ng-container *ngFor="let result of results; index as i">
			<div class="search-result d-flex flex-row" id='result-{{i}}'
			routerLink="/detail/{{ result.id }}"
			(click)="onResult();">
				<div class="result-img mx-1 me-3 mx-md-1 mx-md-3 my-2 my-sm-2 col-2">
					<picture>
						<img src={{result.img}}>
					</picture>
				</div>
				<div class="result-body col-10 d-flex flex-row justify-content-center align-items-center ">
					<div class="result-title 
					col-9 	col-sm-8 	col-md-3">
						<p>{{result.name}}</p>
					</div>
					<div class="result-desc 
										col-md-7">
						<p>{{ (result.desc.length>desc_cutoff)? (result.desc | slice:0:desc_cutoff)+'...':(result.desc) }}</p>
					</div>
					<div class="result-price 
					col-3 	col-sm-3 	col-md-1">
						<p>{{result.price}}</p>
						<!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
							<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
							<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
						</svg> -->
					</div>
					<div class="result-button
							col-sm-1 	col-md-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
							<path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
						</svg>
					</div>
				</div>
			</div>
		</ng-container>
		<div class="search-result-ellipses">

		</div>
	</div>
</div>
<div class="search-background" [ngClass]="{activated: enabled}">

</div>