@import '../../../variables.scss';

img {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.submit-row {
  width: max(235px, 50%);
}

.product-add {
  height: 45px;
  border-radius: 0px;
}

.add-product-button {
  min-width: 120px;
}

.product-input {
  &:focus {
    outline: none !important;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  // For centering the text and stopping the padding from covering the text-number
  padding-right: 0px!important;
  padding-left: 0px!important;
  text-align: center;
  margin: auto;
}

@media (max-width: $mdp) {
  .product-input {
    height: 40px; 
  }
} 