<!-- Type 1 -->
<div class="card mb-3 product-card mx-2" style="pointer-events: none;" *ngIf="product" onclick="" routerLink="/detail/{{product.id}}">
	<div class="product-card-img rounded-top" style="pointer-events: auto;" routerLink="/detail/{{product.id}}">
		<img class="rounded-top" src="{{product.img}}"  alt="...">
	</div>
	<div class="card-img-overlay product-card-overlay d-flex flex-column-reverse">
		<div class="d-flex">
			<h5 class="card-title">{{ product.name | uppercase }}</h5>
			<div *ngIf="product.shortDesc" class="product-card-desc">
				<p class="card-text">{{product.shortDesc}}</p>
			</div>
		</div>
	</div>
	<div class="card-body product-card-body">
		<h5 class="card-text text-justify">{{product.desc }}</h5>
	</div>
</div>
<!-- Type 2 -->


<!-- Type 3 -->