.product-card-body {
	width: 30vw;
	height: 6vw;
} 
// html {
// 	font-size: 0.65vw;
//   }
.product-card {
	h5 {
		font-size: 1.2vw;
	};
	h4 {
		font-size: 1.1vw;
	};
	a, p {
		font-size: 0.9vw;
	};
}
.product-card-img:hover {
	opacity: 0;
}
.product-card-img img {
	object-fit: cover;
	width: 30vw;
	height: 30vw;
}

.product-card:hover {
	.product-card-img {
		background:rgba(195, 97, 0, 1);
		opacity: 0.6;
		transition: opacity 0.15s;
	}
	.product-card-body {
		opacity: 0.8;
	}
	img {
		opacity: 0.9;
	}
	.card-title {
		border-radius: 1vw;
	}
	.product-desc-popup {
		display: block;
		opacity: 1;
	}
}

.product-card-desc {
	// padding: 0.2vw;
	// border-radius: .25vw;
}
.product-card, .product-card-img {  
	transition-property: width;
	transition-duration: 0.6s;
	transition-timing-function: ease;
	transition-delay: 0s;
}
.product-desc-popup {
	display: none;
	background-color:rgba(200, 100, 10, .9);
	position: absolute;
	bottom: 0%;
	padding: 0vw;
	transition: opacity 0.1s;
	width:100%
}
.product-tags {
	border-radius: .25vw;
}
.card-title {
	color: black;
	font-weight: 700;
}
