@import "../../../variables.scss";

.product-card {
  // font-size: 20px;

  h5 {
    // font-size: 2rem;
    // margin-bottom: 0.3rem;
    font-weight: 400;
  }
  // h4 {
  // font-size: 1.5rem;
  // }
  // a,
  // p {
  // font-size: 1.4rem;
  // }
}
.product-card-img {
  pointer-events: auto;
  position: relative;
  box-sizing: border-box;
  aspect-ratio: 1/1;
  img {
    object-fit: cover;
  }
}

.product-card:hover {
  .product-card-img {
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transition: opacity 0.15s;
  }
  .product-card-body {
    opacity: 0.8;
  }
  img {
    opacity: 0.7;
  }
  .card-title {
    border-radius: 1vw;
  }
  .product-desc-popup {
    display: block;
    opacity: 1;
  }
  .product-card-tags {
    display: block;
    opacity: 1;
  }
}

.product-card-desc {
  // padding: 0.2vw;
  // border-radius: .25vw;
  // text-align: center;
  p {
    margin-bottom: 0;
  }
}
.product-card-tags {
  position: absolute;
  top: 0%;
  display: none;
  opacity: 0;
  p {
    border-radius: 0.25vw;
    width: fit-content;
  }
}
.product-card,
.product-card-img,
.product-card-tags {
  transition: opacity 0.1s;
}
.product-card-tags p {
  --bs-bg-opacity: 0.85;
}
.product-desc-popup {
  display: none;
  opacity: 0;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  bottom: 0vw; // 28 - 5vw
  transition: opacity 0.1s;
  width: 100%;
  // height: 5vw;
  padding-top: 2px;
  padding-bottom: 2px;
  color: white;
}
.yellow-popup {
  background-color: rgb(175, 175, 37);
}
.grey-popup {
  background-color: rgba(88, 88, 88, 0.822);
}
.red-popup {
  background-color: rgba(255, 0, 0, 0.8);
}
.blue-popup {
  background-color: rgba(68, 0, 255, 0.8);
}
.green-popup {
  background-color: rgba(0, 255, 4, 0.8);
}
.white-popup {
  background-color: rgba(255, 255, 255, 0.8);
}
.product-tags {
  border-radius: 0.25vw;
}
.card-title {
  color: black;
  font-weight: 600;
}

@media (max-width: $md) {
  .product-card-img img {
    height: 80vw;
  }
}
@media (max-width: $s) {
}

/* Lessons learned:
	For object-fit: cover to work on an img,
	the img must have height: 100% and width: 100%,
	the immediate enclosing div must have nothing else in it and
	concrete height and width.
*/
