@import "../../../variables.scss";

.carousel-inner {
  img {
    height: 42vmax;
    width: 100%;
    object-fit: cover;
    object-position: 0 60%;
  }
}

.carousel-shade {
	height: 100%;
	width: 100%;
	position: absolute;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3), rgba(0,0,0,0.8));
	z-index: 1;
}

.carousel-indicators {
  // top: calc(42vmax - 20px);
  top: calc(42vmax - 20px);
  z-index: 3;
}

.carousel-indicators button {
  width: 9.6px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid white;
  opacity: 1;
  background: transparent;
  z-index: 3;
}

.carousel-indicators button.active {
  background: white;
}

.carousel-item {
  height: 100%;

  img {
    // filter: brightness(80%);
    // object-fit: cover;
  }
}

.carousel-overlay {
  position: absolute;
  top: calc(42vmax - 15rem);
  left: calc(100vw - 40rem);
  color: white;
  z-index: 2;
  .btn {
    margin-top: 2vw;
    font-size: 1.5rem;
  }
  .carousel-subheading {
    font-size: 1.5rem;
    color: #ffffff;
  }
  .carousel-title {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: "Vollkorn";
    font-weight: 500;
  }
}

@media (max-width: $md) {
  .carousel-overlay {
    top: calc(42vmax - 20rem);
  }
}

@media (max-width: $s) {
  .carousel-overlay {
    position: relative;
    // top: 42vmax;
    left: 0;
    top: 0;
    margin-left: 1rem;
    .carousel-subheading {
      margin-top: 1rem;
      margin-bottom: 0.1rem;
      color: #000 !important;
    }
    .carousel-title {
      color: #000 !important;
    }
  }
  .carousel-inner {
    height: auto;
    img {
      height: 100vw;
      width: 100%;
    }
  }
  .carousel-indicators {
    // top: calc(42vmax - 20px);
    top: calc(100vw - 20px);
  }
}
