<div id="carouselIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-img">
        <img
          src="assets/static/images/banner/get-the-app.jpg"
          class="carousel-image d-block"
          alt="..."
        />
      </div>
      <div class="carousel-overlay">
        <span class="carousel-subheading">Order for pickup and delivery</span>
        <h2 class="carousel-title">Get the Jay coffee app now</h2>
        <button
          type="button"
          class="btn btn-outline-dark rounded-0 border border-white mt-0 mt-md-2 p-3 px-4 text-white"
        >
          Download
        </button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img">
        <img
          src="assets/static/images/products/cake_1.jpg"
          class="carousel-image d-block"
          alt="..."
        />
      </div>
      <div class="carousel-overlay">
        <span class="carousel-subheading">Fall into comfort</span>
        <h2 class="carousel-title">One City Collection</h2>
        <button
          type="button"
          class="btn btn-outline-dark rounded-0 border border-white mt-0 mt-md-2 p-3 px-4 text-white"
        >
          Shop now
        </button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img">
        <img
          src="assets/static/images/products/toy_1.jpg"
          class="carousel-image d-block"
          alt="..."
        />
      </div>
      <div class="carousel-overlay">
        <span class="carousel-subheading">From latte art to brewing</span>
        <h2 class="carousel-title">Class is in sessions!</h2>
        <button
          type="button"
          class="btn btn-outline-dark rounded-0 border border-white mt-0 mt-md-2 p-3 px-4 text-white"
        >
          Shop classes
        </button>
      </div>
    </div>
  </div>
</div>
