<div id="carouselIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-overlay">
        <p>Order for pickup and delivery!</p>
        <h2>Download the Jay coffee app</h2>
        <button type="button" class="btn btn-primary">Download now</button>
      </div>
      <img
        src="assets/static/images/products/coffee_1.jpg"
        class="carousel-image d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <div class="carousel-overlay">
        <p>Fall into comfort</p>
        <h2>One City Collection</h2>
        <button type="button" class="btn btn-primary">Shop now</button>
      </div>
      <img
        src="assets/static/images/products/cake_1.jpg"
        class="carousel-image d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <div class="carousel-overlay">
        <p>From latte art to brewing</p>
        <h2>Class is in sessions!</h2>
        <button type="button" class="btn btn-primary">Shop classes</button>
      </div>
      <img
        src="assets/static/images/products/toy_1.jpg"
        class="carousel-image d-block w-100"
        alt="..."
      />
    </div>
  </div>
</div>
