<div id="carouselIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-shade">

  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-img">
        <img
          src="assets/static/images/products/my_feuille.jpg"
          class="carousel-image d-block"
          alt="..."
        />
      </div>
      <div class="carousel-overlay">
        <span class="carousel-subheading">What we imagine, we make</span>
        <h2 class="carousel-title">Cakes literally out of this world</h2>
        <button
          type="button"
          class="btn btn-outline-dark rounded-0 border border-white mt-0 mt-md-2 p-3 px-4 text-white"
        >
          Reserve a Table
        </button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img">
        <img
          src="assets/static/images/products/pillow.jpg"
          class="carousel-image d-block"
          alt="..."
        />
      </div>
      <div class="carousel-overlay">
        <span class="carousel-subheading">From young to old</span>
        <h2 class="carousel-title">There's something for everyone</h2>
        <button
          type="button"
          class="btn btn-outline-dark rounded-0 border border-white mt-0 mt-md-2 p-3 px-4 text-white"
        >
          Shop Now
        </button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-img">
        <img
          src="assets/static/images/products/2001.jpg"
          class="carousel-image d-block"
          alt="..."
        />
      </div>
      <div class="carousel-overlay">
        <span class="carousel-subheading">Challenge your senses</span>
        <h2 class="carousel-title">The Signature Voyage Collection</h2>
        <button
          type="button"
          class="btn btn-outline-dark rounded-0 border border-white mt-0 mt-md-2 p-3 px-4 text-white"
        >
          View Collection
        </button>
      </div>
    </div>
  </div>
</div>
