@import '../../../variables.scss';

.detail-card-img {
	// flex: 1 1 0px;
	// overflow: hidden;
	// width: 33%;
	> img {
		object-fit: cover;
		width: 30vw;
		height: 30vw;
	}
}

.detail-card-img-shade {
	pointer-events: none;
	position: absolute;
	background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4));
	z-index: 1;
	
	width: 30vw;
	height:30vw;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.detail-card-body, .detail-card-mask {
	height: 10vw;
	bottom: 0vw;
	width: 30vw;
	position: absolute;
}
.detail-card-body {
	max-width: 100%;

	h4 {
		color: white;
		opacity: 1;
		font-size: 2.2vw;
		font-weight: 400;
	};


	p {
		color: white;
		opacity: 1;
		font-size: 1.2vw;
		font-weight: lighter;
	};
}
.detail-card-mask {
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
	background-color: black;
	width: 100%;
}
.detail-overlay {
	// display: none;
	opacity: 0;
}
.detail-card:hover {
	.detail-overlay {
		// display: block;
		opacity: 1;
		transition: opacity 0.15s;
	}
}

@media (max-width: $s) {
	.detail-card-body {
		margin-bottom: 2rem!important;
	}
}

@media (max-width: $md) {
	.detail-card-img {
		> img {
			object-fit: cover;
			width: 100vw;
			height: 80vw;
		}
	}
	.detail-card-body {
		width: 100vw;
	}
}