<!-- Type 1 -->
<div class="card detail-card border-0 mx-2" style="pointer-events: none;" *ngIf="detail" onclick="" routerLink="/detail/{{detail.id}}">
	<!-- Image -->
	<div class="detail-card-img" style="pointer-events: auto; position: relative" routerLink="/detail/{{detail.id}}">
		<img class="img-fluid" src="{{detail.img}}"  alt="...">
		<div class="detail-desc-popup	d-flex flex-column justify-content-center">
			<!-- <ng-container *ngIf="detail.shortDesc">
				<div class="detail-card-desc card-text">
					<h5>{{detail.shortDesc}}</h5>
				</div>
			</ng-container> -->
			<!-- <div class="detail-card-desc card-text" 
			[ngStyle]="{'text-align': (detail.shortDesc) ? 'left' : 'center'}">
				<p>{{detail.desc}}</p>
			</div> -->
		</div>
	</div>
	<!-- Overlay -->
	<!-- Body -->
	<div class="detail-card-mask"></div>
	<div class="card-body detail-card-body">
		<h4 class="card-title py-1 mt-1">{{ detail.name }}</h4>
		<p>{{ detail.desc }}</p>
	</div>
</div>
<!-- Type 2 -->


<!-- Type 3 -->