<app-main-nav-bar></app-main-nav-bar>

<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->

<!-- <div class="main-nav-bar d-flex justify-items-center d-row">
    <div class="mx-2 my-2 logo">
      <img src="...">
    </div>
    <nav>
      <a class="mx-2 nav-bar-link" routerLink="/home">Home</a>
      <a class="mx-2 nav-bar-link" routerLink="/shop">Shop</a>
      <a class="mx-2 nav-bar-link" routerLink="/shop">History</a>
    </nav>
</div> -->
<router-outlet></router-outlet>
 
<app-footer></app-footer>