@import '../../../variables.scss';

.banner {
  position: relative;
}

.banner-img {
  height: 50vh;
  background-image: url("/assets/static/images/main_splash.jpg");
  // object-fit: cover;
  background-position: bottom right;
}

.banner-overlay {
  position: absolute
}

@media (max-width: $s) {
  .banner-overlay {
    position: relative;
  }
  
}// adjust banner font, adjust shadows
// shadows img is 30vw, shadow is 30vw, margins?


@media (max-width: $md) {
  
}