.cart-title {
	// justify-content: center;
}

.cart-item-detail {
	.detail-img {
		width: 100px;
		height: 100px;
		padding-right: 0px;
		padding-left: 0px;
		img {
			width: 100%;
			height: 100%;
		}
	}

}