<div class="cart-title align-self-center text-center">
	<h1>Cart</h1>
</div>

<div class="cart-list mx-5 my-5">
	<ng-container *ngFor="let item of (cart$ | async)?.cartItems; index as i">
		<div class="cart-item-detail my-2"> 
			<div class="row align-items-center">
				<div class="col-1 detail-front-buffer"></div>
				<!-- Icon -->
				<div class="col-4 detail-img">
					<picture>
						<img src="{{ item.product.img }}" />
					</picture>
				</div>
				<!-- Name and Type -->
				<div class="col-1 detail-body fs-4" routerLink="/detail/{{ item.product.id }}">
					<div>${{ item.product.price }}</div>
					<div>{{ item.product.name }}</div>
				</div>
				<div class="col-4 detail-count row">
					<div class="col-4 detail-count-down">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
						</svg>
					</div>
					<!-- Count x Price -->
					<div class="col-4 detail-count">
					<!-- <input
						class="detail-count"
						(keyup)="validationCheck($event, item)"
						value="{{ item.count }}"
					/> -->
						Qty: {{ item.count }}
					</div>
					<div class="col-4 detail-count-up">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
						</svg>
					</div>
				</div>
				<!-- Delete -->
				<div class="col-1 detail-delete"> <!--  (click)="removeFromCart(item)" -->
					<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-trash3"
					viewBox="0 0 16 16"
					>
					<path
						d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
					/>
					</svg>
				</div>
				<div class="col-1 detail-end-buffer"></div>
			</div>
		</div>
	</ng-container>
</div>