<div class="cart-title align-self-center text-center">
	<h1>Cart</h1>
</div>

<div class="cart-list mx-5 my-5">
    <div class="cart-list-headers row justify-content-center">
      <div class="col-auto">
		<div class="cart-header-start-blocker"></div>
      </div>
      <div class="col-1">
		<h4>Name</h4>
      </div>
      <div class="col-1">
		<h4>Price</h4>
      </div>
      <div class="col-2">
		<h4>Quantity</h4>
      </div>
      <div class="col-1">
		<h4>Total</h4>
      </div>
	  <div class="col-auto">
		<div class="cart-header-end-blocker"></div>
	  </div>
    </div>
	<ng-container *ngFor="let item of (cart$ | async)?.cartItems; index as i">
		<div class="cart-item-detail my-4"> 
			<span class="row justify-content-center align-items-center">
				<!-- Icon -->
				<div class="col-auto detail-img">
					<picture>
						<img src="{{ item.product.img }}" />
					</picture>
				</div>
				<!-- Name and Type -->
				<div class="col-1 detail-body" routerLink="/detail/{{ item.product.id }}">
					<div><h2>{{ item.product.name }}</h2></div>
				</div>
				<div class="col-1 detail-body-price">
					<div><h2>${{ item.product.price }}</h2></div>
				</div>
				<span class="col-2 detail-count d-flex flex-row">
					<div class="detail-count-down py-5" (click)="decrement(item, detail_count_input)">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
							<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
						</svg>
					</div>
					<!-- Count x Price -->
					<div class="detail-count mx-3 py-5">
						<input
							#detail_count_input
							class="detail-count-input"
							(keyup)="validationCheck($event, item)"
							value="{{ item.count }}"
						/>
					</div>
					<div class="detail-count-up py-5" (click)="increment(item, detail_count_input)">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
						</svg>
					</div>
				</span>
				<div class="col-1 detail-body-total">
					<div><h2>${{ item.product.price * item.count }}</h2></div>
				</div>
				<!-- Delete -->
				<div class="col-auto detail-delete" (click)="removeFromCart(item)">
					<svg
					xmlns="http://www.w3.org/2000/svg"
					width="16"
					height="16"
					fill="currentColor"
					class="bi bi-trash3"
					viewBox="0 0 16 16"
					>
					<path
						d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
					/>
					</svg>
				</div>
			</span>
		</div>
	</ng-container>
	<div *ngIf="(cart$ | async)!.cartItems!.length == 0"
	class="cart-empty text-center my-5" routerLink="/home">
		<h2>Your cart is empty</h2>
	</div>
</div>

<div class="cart-footer 
			d-flex flex-column justify-content-end align-items-end
			mx-5 mb-5">
	<div class="cart-net">
		<h3 class="cart-page-price my-1">Total: $0</h3>
	</div>
	<div class="calculate-shipping my-1">
		<button>Calculate Shipping</button>
	</div>
	<div class="checkout my-1">
		<button>Checkout</button>
	</div>
	<div class="cart-checkout">

	</div>
</div>