@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  font-family: Roboto;
}

@font-face {
  font-family: "Mayland";
  src: local("Mayland"),
    url(./assets/fonts/Mayland/Mayland.ttf) format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  src: local("Vollkorn"),
    url(./assets/fonts/Vollkorn/Vollkorn-Regular.ttf) format("truetype");
}

// --gradient: {}
:root {
  @function --jay-gradient() {
    @return 1;
  }
}

$ivory: #ffecd1;
$teal: #15616d;
$navy: #001524;
$orange: #ff7d00;
$brick: #78290f;
