@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
	font-family: Roboto;
}

@font-face {
    font-family: "Mayland";
    src: local("Mayland"), url(./assets/fonts/Mayland/Mayland.ttf) format("truetype");
}	