@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
* {
  font-family: Roboto;
}

@font-face {
  font-family: "Mayland";
  src: local("Mayland"),
    url(./assets/fonts/Mayland/Mayland.ttf) format("truetype");
}

@font-face {
  font-family: "Vollkorn";
  src: local("Vollkorn"),
    url(./assets/fonts/Vollkorn/Vollkorn-Regular.ttf) format("truetype");
}

// --gradient: {}
:root {
  @function --jay-gradient() {
    @return 1;
  }
}

/* Characters */

* {
  font-family: Vollkorn;
}
html {
  font-size: 14px;
}

$enable-negative-margins: true;
